{% extends "!layout.html" %}

{% block content %}

  {%- if pagename == 'index' %}

    <div class="hs-cta-embed hs-cta-simple-placeholder hs-cta-embed-113594058449" style="max-width:100%; max-height:100%; width:210px;height:42.390625px; float: right;" data-hubspot-wrapper-cta-id="113594058449">
      <a href="https://cta-eu1.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJ8F1aVfdJXGetAauM2Ao0F5OyUVxl26wDf6atndTEvuSPXAPNybaSR1lDg7fHjQ0upUzchcnCBbAjN6hs4ELVxYhPsZ3H%2BA%2Bu2ew%2Ffw6dfR8GhK8cl%2FjZIakjELKQLCND8xmNpZopfIaLSnQruPA%2FaZfJ%2FvtqpwlEYolaj34hIu2AfSoX8SOXlq%2Fw%3D&webInteractiveContentId=113594058449&portalId=26493592" target="_blank" rel="noopener" crossorigin="anonymous" data-analytics-event="megamenu" data-analytics-action="click" data-analytics-label="book a demo" data-analytics-location="https://foundries.io/products/book-demo/">
        <img alt="Book a Demo" loading="lazy" src="https://hubspot-no-cache-eu1-prod.s3.amazonaws.com/cta/default/26493592/interactive-113594058449.png" style="height: 100%; width: 100%; object-fit: fill" onerror="this.style.display='none'"/>
      </a>
    </div>

  {%- endif %}

  {{ super() }}

{% endblock %}

{% block sidebartitle %}

  <a href="https://cta-eu1.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLJoSaECsY7AgSp8%2B%2FzAJj9MjRdktrFWem7ZiLYUuwu9Ps5ktV52C%2Fp4Nxue86Go1wQ8PAPPjmbHy5hgIFaiHKCuH8%2BKOg1V2VD010z%2BH2jGMmM%3D&webInteractiveContentId=113594058467&portalId=26493592" target="_blank" rel="noopener" crossorigin="anonymous" data-analytics-event="megamenu" data-analytics-action="click" data-analytics-label="megamenu" data-analytics-detail="megamenu logo" data-analytics-location="https://foundries.io">
    <img src="{{ logo_url }}" class="logo"/>
  </a>

  <div class="version" style="color: #32b993">
    {{ version }}
  </div>

  {% include "searchbox.html" %}

{% endblock %}

{%- block extrahead %}
  {{ super() }}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap">

  {%- if adobe_analytics_url %}
    <script type="text/javascript">
      const parts = (new URL(window.location.href)).pathname.split('/').filter(Boolean);

      if (parts.length === 0) {
        parts.push('home page');
      }

      const page_name = '{{ adobe_analytics_base_section }}' + parts.join(':');

      const accumulator = new Array(9);
      for (let i = 0; i < accumulator.length; i++) {
        accumulator[i] = ['sc_site_section_' + (i + 1), ''];
      }

      const siteSections = parts.reduce((acc, part, idx) => {
        if (idx > 0) {
          acc[idx] = ['sc_site_section_' + (idx + 1), [acc[idx - 1][1], part].join(':')];

          return acc;
        }

        acc[idx] = ['sc_site_section_' + (idx + 1), '{{ adobe_analytics_base_section }}' + part];

        return acc;
      }, accumulator);

      const orientation = window.matchMedia('(orientation: portrait)').matches ? 'portrait' : 'landscape';

      let previousPage = '';

      if (document.referrer) {
        const referrer = new URL(document.referrer);
        const isSameOrigin = referrer.origin === document.location.origin;
        const parts = (new URL(document.referrer)).pathname.split('/').filter(Boolean);

        if (isSameOrigin) {
          if (parts.length) {
            previousPage = '{{ adobe_analytics_base_section }}' + parts.join(':');
          }
        } else {
          previousPage = document.referrer;
        }
      }

      window.adobeDataLayer = window.adobeDataLayer || [];
      window.adobeDataLayer.push({
        event: 'page-load',
        page: {
          page_name,
          device_orientation: orientation,
          website_theme: 'na',
          language_code: 'en',
          previous_page_name: previousPage,
          ...Object.fromEntries(siteSections),
        }
      });
    </script>

    <script src="{{ adobe_analytics_url }}" type="text/javascript"></script>
  {%- endif %}

{% endblock %}

{% block footer %}
  {{ super() }}

  {%- if adobe_analytics_url %}
    <script type="text/javascript">
      if (typeof window._satellite != 'undefined' & typeof window._satellite.pageBottom === 'function') {
        window._satellite.pageBottom();
      }
    </script>
  {%- endif %}
{% endblock %}
