{% extends "!layout.html" %}

{%- block extrahead %}
  {{ super() }}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap">

  {%- if adobe_analytics_url %}
    <script type="text/javascript">
      const parts = (new URL(window.location.href)).pathname.split('/').filter(Boolean);

      if (parts.length === 0) {
        parts.push('home page');
      }

      const page_name = '{{ adobe_analytics_base_section }}' + parts.join(':');

      const accumulator = new Array(9);
      for (let i = 0; i < accumulator.length; i++) {
        accumulator[i] = ['sc_site_section_' + (i + 1), ''];
      }

      const siteSections = parts.reduce((acc, part, idx) => {
        if (idx > 0) {
          acc[idx] = ['sc_site_section_' + (idx + 1), [acc[idx - 1][1], part].join(':')];

          return acc;
        }

        acc[idx] = ['sc_site_section_' + (idx + 1), '{{ adobe_analytics_base_section }}' + part];

        return acc;
      }, accumulator);

      const orientation = window.matchMedia('(orientation: portrait)').matches ? 'portrait' : 'landscape';

      let previousPage = '';

      if (document.referrer) {
        const referrer = new URL(document.referrer);
        const isSameOrigin = referrer.origin === document.location.origin;
        const parts = (new URL(document.referrer)).pathname.split('/').filter(Boolean);

        if (isSameOrigin) {
          if (parts.length) {
            previousPage = '{{ adobe_analytics_base_section }}' + parts.join(':');
          }
        } else {
          previousPage = document.referrer;
        }
      }

      window.adobeDataLayer = window.adobeDataLayer || [];
      window.adobeDataLayer.push({
        event: 'page-load',
        page: {
          page_name,
          device_orientation: orientation,
          website_theme: 'na',
          language_code: 'en',
          previous_page_name: previousPage,
          ...Object.fromEntries(siteSections),
        }
      });
    </script>

    <script src="{{ adobe_analytics_url }}" type="text/javascript"></script>
  {%- endif %}

{% endblock %}

{% block footer %}
  {{ super() }}

  {%- if adobe_analytics_url %}
    <script type="text/javascript">
      if (typeof window._satellite != 'undefined' & typeof window._satellite.pageBottom === 'function') {
        window._satellite.pageBottom();
      }
    </script>
  {%- endif %}
{% endblock %}
