.. _ref-rm_qemu_ssh:

.. tip::
    It is possible to access QEMU via SSH by appending these parameters to the
    QEMU CLI command above:

    .. code-block::

        -netdev user,id=net0,hostfwd=tcp::2222-:22

    Then, run SSH with:

    .. code-block::

        ssh -p 2222 fio@localhost
