/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

@media only screen and (min-width: 769px) {
    .wy-body-for-nav {
        /* Center the page's main pane on wide displays for better readability
 * */
        /* `max-width` is (navbar width + main pane width) */
        max-width: 1100px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 769px) {
    .wy-nav-side {
        /* Required to center the page on wide displays */
        left: inherit;
    }

}@media only screen and (min-width: 769px) {
    .rst-versions {
        /* Required to center the page on wide displays */
        left: inherit;
    }
}
