name: reviewdog
on: [pull_request]

jobs:
  vale:
    name: runner / vale
    runs-on: ubuntu-latest
    steps:
      - name: Install docutils
        run: sudo apt-get install -y docutils
      - uses: actions/checkout@v4
      - uses: errata-ai/vale-action@v2.1.1
        with:
         files: source/
         reporter: github-pr-review
         fail_on_error: false
        env:
          # Required, set by GitHub actions automatically:
          # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#about-the-github_token-secret
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
